*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amiko', sans-serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Limelight', cursive;

}

.container{
  max-width: 1280px;
   margin: 0 auto;
   padding: 0 2%;
}
header{
    padding: 8px 0;
}
.logo img{
    height: 100px;
}
.logo{
    float: left;
}

.menu-desk{
    float: right;
}

.menu-desk ul{
    position:relative;
    margin-top: 30px;
}

.menu-desk li{
    color: rgb(245, 69, 69);
    padding: 0 10px;
    font-weight: lighter;
    display: inline-block;
    
}
.menu-desk a{

    color: rgb(152, 90, 253);
    text-decoration: none;

}
.menu-desk li.selected{
    font-weight: bold ;
}
.menu-desk a:hover{
    text-decoration: underline;
}


